.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 1rem;

    .image-container {
        display: inline-block;
        margin: 0 0.5rem 0.5rem 0;
        max-height: 13rem;
        max-width: 13rem;

        img {
            cursor: pointer;
            height: 100%;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
    }
}
