$danger: #dc3545;
$warning: #ffc107;
$success: #28a745;

$backgroundColor: #f0f0f0;

$gray-darker: #444444;
$gray-dark: #696969;
$gray: #999999;
$gray-light: #cccccc;
$gray-lighter: #ececec;
$gray-lightest: lighten($gray-lighter,4%);

$ghgsdrBlue: #002b55;