@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import 'ember-bootstrap/bootstrap';
@import 'variables.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
}

.ember-application {
    background-color: $backgroundColor;
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-align: center;
}

.divider {
    background-color: $ghgsdrBlue;

    h1 {
        color: white;
        padding: 0.5rem;
    }
}


@import 'loader.scss';
@import 'navbar.scss';
@import 'cards.scss';
@import 'image-modal.scss';
