$gray-darker: #444444;
$gray-dark: #696969;
$gray: #999999;
$gray-light: #cccccc;
$gray-lighter: #ececec;
$gray-lightest: lighten($gray-lighter,4%);

*,
*::before,
*::after {
    box-sizing: border-box;
}

.ember-application {
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-align: center;
}

.filter {
    h3 {
        margin-top: 1rem;
    }
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;

    .form-check {
        margin-right: 1rem;
    }
}

.divider {
    background-color: #002b55;

    h1 {
        color: white;
        padding: 0.5rem;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import 'ember-bootstrap/bootstrap';
@import 'variables.scss';
@import 'loader.scss';
@import 'header.scss';
@import 'cards.scss';
@import 'image-modal.scss';
