<div class="divider">
    <h1>Boarding/Treatment</h1>
</div>
<div class="table-responsive">
    {{table
        dogs=intake
        locationName="Location"
    }}
</div>

<div class="divider">
    <h1>Fostered</h1>
</div>
{{table
    dogs=fostered
    locationName="Foster"
}}
<div class="divider">
    <h1>Pending Adoption</h1>
</div>
{{table
    dogs=pendingAdoption
    locationName="Foster"
}}
<div class="divider">
    <h1>Adopted</h1>
</div>
{{table
    dogs=adopted
    locationName="Adopter"
}}