{{#if loading}}
    {{loader}}
{{else}}
  {{header}}
  <ul class="card-container">
      {{#each dogs as |dog|}}
          <li class="card__item">
              {{card
                  name=dog.name
                  description=dog.description
                  defaultImage=dog.pet_image
                  attributes=dog.pet_attributes
                  gender=dog.sex
              }}
          </li>
      {{/each}}
  </ul>
{{/if}}